
/* Welcome Carousel Section */
#welcomeCarousel{
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
#welcomeCarousel .carousel-indicators{
    margin: 0px;
    padding: 0px;
}
#welcomeCarousel .carousel, .overlay {
    /* grid-area: 1 / 1; */
  }
#welcomeCarousel .overlay{
    /* background-color: rgba(0, 0, 0, 0.411); */
    /* height: 100px; */
    /* box-sizing: inherit; */
    /* z-index: 5; */
}
#welcomeCarousel .carousel-control-prev-icon{
    z-index: 9;
    background-color: black;
}
#welcomeCarousel .carousel-control-next-icon{
    z-index: 9;
    background-color: black;
}
#workoutBtn{
    position: absolute;
    bottom: 0.25em;
    z-index: 10;
    margin: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#welcomeCarousel .carousel-item video{
    width: 960px;
}
#welcomeCarousel .carousel-item .carousel-caption{
    display: none;
    top: 0px;
    left: 0px;
    text-align: left;
}

/* Second Carousel */

#myCarousel {
    background: #2f4357;
    width: 100%;
    height: 100%;
}
#myCarousel .carousel-item{
    text-align: center;
    /* min-height: 720px;  */
    height: 100%;
}
#myCarousel img{
    width: 20%;
}
