:root {
    --primary-color: #047aed;
    --secondary-color: #1c3f88;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --text-color: #fff;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    --alt-white: #FCF6F5FF;
    --link-color: #2BAE66FF;
    --footer-color: #2C423F;
    --body-bg: #E9FDF7;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}
ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: none;
}
h1, h2{
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0px;
}
p{
    margin: 10px 0px;
}
img{
    width: 100%;
}

code, pre{
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.hidden{
    visibility: hidden;
    height: 0;
}

/* Navbar Stylings */
.navbar{
    background-color: var(--text-color) ;
    padding: 10px 0px;
    margin: 0%;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar .logo-div{
    display: flex;
    align-items: center;
    width: 7.5%;
    margin: 0%;
    padding: 0%;
}
.navbar .logo{
    width: 100%;
}
.navbar ul{
    display: flex;
}

.navbar a{
    color: var(--link-color);
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
}

.navbar a:hover{
    border-bottom: 2px solid var(--link-color);
}

/* mainContent Section */

.mainContent{
    background-color: var(--body-bg);
    color: var(--text-color);
    margin: 0%;
}
.mainContent h1{
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}
.mainContent p{
    margin: 20px 0;
    font-size: 1.5rem;
    color: #333;
}
.mainContent .grid{
    grid-template-columns: 50% 50%;
    gap: 5px;
}
.mainContent .flex{
    align-items: center;
}
.mainContent-text{
    animation: slideInFromLeft 1s ease-in;
    width: 50%;
}
.mainContent-media{
    padding: 0;
    animation: slideInFromRight 1s ease-in;
    align-items: center;
    height: 100%;
    width: 50%;
}


.mainContent-media .main-carousel{
    height: 100%;
}

/* Visuals-link Section */
.visuals-link{
    padding: 50px 0px;
    background-color: var(--body-bg);
}
.visuals-link .flex{
    flex-wrap: wrap;
    justify-content: space-between;
}
.visuals-link .card{
    text-align: center;
    transition: transform 0.25s ease;
    width: 22.5%;
}

.visuals-link .card h4{
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.visuals-link .card img{
    width: 150px;
    height: 150px;
    align-self: center;
}

.visuals-link .card:hover{
    transform: translateY(-15px);
}

/* Visual-reports page */

.visuals{
    background-color: var(--body-bg);
    padding: 10px 0px 40px 0px;
}

.visuals .flex{
    flex-wrap: wrap;
}

.visuals .card{
    width: 47.5%;
    min-height: 50vh;
}

.visuals .card img{
    width: 10rem;
}

/* Analytics Page */
.analytics{
    background-color: var(--body-bg);
    padding: 2em 0em 3em 0em;
}
.analytics h3{
    margin: 20px 0;
}

.analytics .flex{
    flex-direction: column;
}

.analytics .card{
    width: 100%;
    min-height: 20vh;
}

.analytics .card img{
    width: 20%;
}

/* API and DATA Page */
.get-api{
    background-color: var(--body-bg);
    padding: 2em 0em 3em 0em;
}

.get-api .flex{
    flex-wrap: wrap;
}

.get-api .card{
    width: 47.5%;
    display: flex;
    flex-direction: column;
}

.get-api .card .header{
    justify-content: flex-start;
}
.get-api .card .header img{
    width: 15%;
    padding-right: 20px;
}

.get-api .card .header h4{
    font-size: 2rem;
}

.get-api .card .body p{
    font-size: 1.5rem;
    text-align: left;
}


/* Footer */
footer{
    background-color: var(--footer-color);
    color: var(--alt-white);
    text-align: center;
}
footer .social a{
    margin: 0 10px;
    color: var(--alt-white);
}

footer .flex{
    justify-content: space-evenly;
}

/* Animations */
@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInFromTop{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInFromBottom{
    0%{
        transform: translatey(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

/* Tablets and Under */
@media all and (max-width: 768px){
    .grid, .mainContent .grid, .stats .grid, .cli .grid, .cloud .grid,
    .visuals .grid, .analytics .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .mainContent{
        height: auto;
    }

    .mainContent-text{
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .mainContent-media{
        justify-self: center;
        margin: auto;
    }

    .visuals .grid > div:first-child,
    .visuals .grid > div:nth-child(2){
        grid-column: 1;
    }
}

/* Mobile */
@media (max-width: 500px){
    
    /* Navbar */
    .navbar{
        padding: 5px 0px;
        margin: 0%;
    }
    
    .navbar .flex {
        flex-direction: column;
    }
    
    .navbar .logo-div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .navbar .logo{
        width: 25%;
    }
    .navbar nav{
        width: 100%;
        padding: 0 0px;
    }
    .navbar ul{
        display: flex;
        justify-content: space-between;
        padding: 5px 0px;
        margin: 0%;
    }
    
    .navbar a{
        padding: 5px;
        margin: 0px;
        font-weight: bold;
        font-size: 1rem;
    }

    /* mainContent Section */

    .mainContent{
        margin: 0%;
        padding: 0%;
    }
    .mainContent h1{
        font-size: 2rem;
        color: #333;
        font-weight: bold;
        margin: 0%;
    }
    .mainContent p{
        margin: 15px 0;
        font-size: 1rem;
        color: #333;
        text-align: left;
        font-weight: 700;
        line-height: 1.25rem;
    }
    .mainContent a{
        width: fit-content;
        align-self: center;
    }
    .mainContent a:hover{
        color: var(--text-color);
    }
    .mainContent .grid{
        grid-template-columns: 50% 50%;
        gap: 5px;
    }
  
    .mainContent-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: slideInFromLeft 1s ease-in;
        width: 100%;
        padding: 10px 10px;
        margin: 0%;
    }
    .mainContent-media{
        padding: 0;
        margin: 0%;
        animation: slideInFromRight 1s ease-in;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .mainContent-media img{
        width: 100%;
        padding: 0%;
        margin: 0%;
        height: 100%;
    }

    .mainContent-media .main-carousel{
        height: 100%;
    }

  /* Visuals-link Section */
    .visuals-link{
        padding: 40px 10px;
    }
    .visuals-link .flex{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .visuals-link .card{
        text-align: center;
        width: 100%;
        margin: 10px 0px;
    }

    .visuals-link .card h4{
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .visuals-link .card img{
        width: 150px;
        height: 150px;
        align-self: center;
    }

    .visuals-link .card:hover{
        transform: translateY(0px);
    }
  
    /* Visual-reports page */

    .visuals{
        padding: 5px 0px 40px 0px;
    }

    .visuals .flex{
        flex-wrap: wrap;
    }

    .visuals .card{
        width: 100%;
        min-height: 30vh;
    }

    .visuals .card img{
        width: 10rem;
    }

    /* Analytics Page */
    .analytics{
        padding: 5px 10px 40px 10px;
    }
    .analytics h3{
        margin: 5px 0;
    }

    .analytics .flex{
        flex-direction: column;
    }

    .analytics .card{
        width: 100%;
        min-height: 30vh;
    }

    .analytics .card img{
        width: 20%;
    }

    /* API and DATA Page */
    .get-api{
        padding: 5px 10px 40px 10px;
    }

    .get-api .flex{
        flex-wrap: wrap;
        margin: 0%;
        padding: 0%;
    }

    .get-api .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 5px;
    }

    .get-api .card .header{
        justify-content: flex-start;
    }
    .get-api .card .header img{
        width: 20%;
        padding-right: 20px;
    }

    .get-api .card .header h4{
        font-size: 2rem;
    }

    .get-api .card .body p{
        font-size: 1.25rem;
        text-align: left;
    }


    /* Footer */
    footer .flex{
        flex-direction: column;
    }
    footer{
        text-align: center;
    }
    footer .flex div:first-child{
        margin-bottom: 20px;
    }
    footer .flex div:first-child p{
        margin: 0%;
        padding: 0%;
    }
    footer .flex div:first-child h1{
        margin: 0%;
        padding: 0%;
    }
    footer .social a{
        margin: 0 10px;
        color: var(--alt-white);
    }

}
